@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Passions+Conflict&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
/* background: linear-gradient(160deg,  #3fa5ee,#000000); */
background-image: url('./images/bg1.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}
.icon i{
font-size: 100px;
}


@media screen and (max-width: 766px) {
.w-25{
    width: 150px !important;
}
}

